<footer>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<ul class="menu simple menu__legal">
				<li><a class="footer__menu__link brand" href="/">Grapplers for Christ Australia</a></li>
		</div>
		<div class="small-12 medium-6 columns">
			<ul class="menu simple legal menu__legal">
				<li><a href="/about.html">About</a></li>
				<li><a href="/supporters.html">Supporters</a></li>
				<li><a href="/constitution.html">Constitution</a></li>
				<li><a href="mailto:info@g4c-oz.com">Contact</a></li>
				<li class="no-link">Copyright &copy; 2017</li>
			</ul>
		</div>
	</div>
</footer>