<section class="gathering text-center section__primary">
	<div class="row">
		<div class="small-12 medium-10 large-8 medium-centered columns">
			<h2 class="section__primary-title">GATHERING</h2>
			<p class="lead">We get together every <strong>Sunday from 2:00-2:30 pm</strong> to talk about Jesus; his life and mission and how his message is one of grace, love and hope for our world today.</p>
			<p class="lead">Together we're changing the world in small ways and large.</p>
			<h4>3/60 Stubbs Street, Kensington.</h4>
			<p><a href="https://goo.gl/maps/wXFUPxCwZZB2" target="_blank">Need directions?</a></p>
		</div>
	</div>
</section>
<!-- Map Section -->
<div id="map"></div>