<section class="mission__summary section__primary">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="section__primary-title">Mission</h2>
			<div class="row small-up-1 medium-up-3" data-equalizer="missions">
				<div class="column column-block" data-equalizer="body">
					<div class="callout" data-equalizer-watch="missions">
						<h3>1 // Love</h3>
						<aside data-equalizer-watch="body">
							<p>We are committed to acting out a positive role within the grappling community.</p>
							<p>We encouarge all <a href="/supporters.html">our supporters</a> to be welcoming in their own clubs and towards other grapplers regardless of affiliation, rank or experience.</p>
						</aside>
						<p class="text-right"><a href="/supporters.html" class="button small">Become a Supporter</a></p>
					</div>
				</div>
				<div class="column column-block">
					<div class="callout" data-equalizer-watch="missions">
						<h3>2 // Gather</h3>
						<aside data-equalizer-watch="body">
							<p>We meet regularly to explore issues of faith, life and culture. We're a community of people who follow Jesus. We welcome all denominations and skeptics alike.</p>
							<p>We encourage a healthy physical lifestyle and hold an open mat for all those who come along.</p>
						</aside>
					</div>
				</div>
				<div class="column column-block">
					<div class="callout" data-equalizer-watch="missions">
						<h3>3 // Serve</h3>
						<aside data-equalizer-watch="body">
							<p>We act out our mission in very practical ways be serving those in need, just like Jesus.</p>
							<p>From the very beginning we've been their train, support and fund projects for children living with poverty. Check out <a href="http://www.akademi-kristus.org/" target="_blank">Akademi Kristus</a> for more details.</p>
						</aside>
						<p class="text-right"><a href="http://www.akademi-kristus.org/index.php/donate/" target="_blank" class="button small">Give at the work of AK</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>