<section class="mission__summary section__primary">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="section__primary-title">Mission</h2>
			<div class="row small-up-1 medium-up-3" data-equalizer>
				<div class="column column-block">
					<div class="callout" data-equalizer-watch>
						<h3>1 // Love</h3>
						<p>We are committed to acting out a positive role within the grappling community.</p>
						<p>We encouarge all our members to be welcoming in their own clubs and towards other grapplers regardless of affiliation, rank or experience.</p>
					</div>
				</div>
				<div class="column column-block">
					<div class="callout" data-equalizer-watch>
						<h3>2 // Gather</h3>
						<p>We meet regularly to explore issues of faith, life and culture. We're a community of people who follow Jesus. We come from different backgrounds. We welcome all denominations and skeptics alike.</p>
						<p>We encourage a healthy physical lifestyle and hold an open mat for all those who come along.</p>
					</div>
				</div>
				<div class="column column-block">
					<div class="callout" data-equalizer-watch>
						<h3>3 // Serve</h3>
						<p>We act out our mission in very practical ways be serving those in need, just like Jesus.</p>
						<p>We train, support and fund projects for children living with poverty. Check out <a href="http://www.akademi-kristus.org/" target="_blank">Akademi Kristus</a> for more details.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>